@model IEnumerable<Product>

@{ 
    Layout = "_AdminLayout";
    ViewBag.Title = "All Products";
}

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">Price</th>
        <th class="text-center">Action</th>
    </tr>
    @foreach (Product item in Model)
    { 
    <tr>
        <td class="text-right">@item.ProductID</td>
        <td>@item.Name</td>
        <td class="text-right">@item.Price.ToString("c")</td>
        <td class="text-center">
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-productId="@item.ProductID">
                    Edit
                </a> 
                <input type="hidden" name="productId" value="@item.ProductID"/>
                <button class="btn btn-danger btn-sm">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>